
body {
	margin: 0;
	padding: 0;
}

.background {
	position: relative;
	height: 100vh;
	background-color: #00CCCC;
}

.sun-moon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
}

body.day .sun-moon {
  background-color: #ffc107;
  border-radius: 50%;
  box-shadow: 0 0 30px #ffa000, 0 0 20px #ffca28, 0 0 10px #ffd54f;
}

body.night .sun-moon {
  background-color: #e0e0e0;
  border-radius: 50%;
  box-shadow: 0 0 30px #9e9e9e, 0 0 20px #bdbdbd, 0 0 10px #e0e0e0;
}

body.night .sun-moon::before,
body.night .sun-moon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.night .sun-moon::before {
  background-color: #e0e0e0;
  height: 10px;
  width: 30px;
  border-radius: 5px;
}

body.night .sun-moon::after {
  background-color: #f5f5f5;
  box-shadow: 0 0 5px #bdbdbd, 0 0 3px #e0e0e0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.intro {
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 24px;
	font-family: 'Helvetica', sans-serif;
	color: #FFFFFF;
	z-index: 2;
}

.name {
	font-weight: bold;
}

.personal-info {
	position: absolute;
	bottom: 30px;
	left: 30px;
	font-size: 16px;
	font-family: 'Helvetica', sans-serif;
	color: #FFFFFF;
	z-index: 2;
	text-shadow: 1px 1px #333333;
}

.added-coin, .now-coin, .rank {
	font-weight: bold;
}

.when {
	font-style: italic;
}

.experience-bar {
	margin-top: 10px;
	height: 8px;
	width: 200px;
	background-color: #FFFFFF;
	border-radius: 4px;
	overflow: hidden;
}

.progress {
	height: 100%;
	background-color: #FF5555;
	width: 60%;
}

.translucent-circle {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: 200px;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	z-index: 1;
}

.background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #00CCCC;
	transform-origin: right top;
	transform: skew(-30deg);
	z-index: -1;
}

.background::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: #00CCCC;
	transform-origin: left top;
	transform: skew(-30deg);
	z-index: -1;
}